html, body {
    width: 100%;
    height: 100%;
}

body {
    background: url(../images/login_bg.jpg) no-repeat;
    background-size: cover;
}

#logo {
    margin: 20px 0 0 40px;
}

#login, #register {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#register {
    display: none;
}

.login_title {
    display: block;
    margin: 18px auto;
}

.layui-form {
    margin: 0 30px 0;
}

.goto-register, .goto-login {
    display: flex;
    justify-content: flex-end;
}

.layui-form-item {
    position: relative;
}
.layui-icon {
    position: absolute;
    top: 10px;
    left: 5px;
}
.layui-input {
    padding-left: 25px;
}